@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #00222a;
    --cor-secundaria: #ff9100;
    --cor-terciaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.principal {
    background-image: url("img/.png");
    /* Imagem de fundo */
    background-repeat: no-repeat;
    /* Repetição da imagem */
    background-size: contain;
    /* Tamanho da imagem */
    align-items: center;
    /* Alinhamento */
    text-align: center;
    /* Alinhamento do texto */
}

.container {
    height: 100vh;
    /* Altura */
    display: grid;
    /* Exibição em grid */
    grid-template-columns: 50% 50%;
    /* Template de colunas */
}


.container__caixa {
    margin: 0 6em;
    /* Margem */
}

.container__img {
    margin: 1em 0 2em 0;
    /* Margem */
    /* topo | direita | inferior | esquerda */
}


strong {
    color: #000000;
}

h1 {
    font-weight: bold;
}

.titulo02 {
    color: blue;
    padding: 10px;
}

.titulo01 {
    font-size: 1.875rem;
    font-family: "Krona One", sans-serif;
    padding: 0% 0% 2% 0%;
}

.Paragrafo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.25rem;
    font-family: "Krona One", sans-serif;
    color: #00222a;
    text-align: center;
}

.cabecalho {
    padding: 2% 0% 0% 16%;
}

.menu {
    display: flex;
    gap: 60px;
}

.aba {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    color: #00222a;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.aba:hover {
    color: #00222a;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.5s;
}


.dir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 5%;
}

@media (max-width: 1200px) {

    .logo {
        width: 100%;
    }

    .cabecalho {
        padding: 10%;
        gap: 10px;
    }
    .menu {
        justify-content: center;
        ;
        gap: 10px;
    }
    .aba {
        font-size: 1.25rem;
        padding: 1%;
    }
    .txtrodape {
        font-size: 1.0rem;
    }
}