@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #00222a;
    --cor-secundaria: #ff9100;
    --cor-terciaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

strong {
    color: #000000;
}

h1 {
    font-weight: bold;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.25rem;
    font-family: "Krona One", sans-serif;
    color: #00222a;
    text-align: center;
}

.cabecalho {
    padding: 2% 0% 0% 16%;
}

.menu {
    display: flex;
    gap: 60px;
}

.aba {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    color: #00222a;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.aba:hover {
    color: #00222a;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.5s;
}

.dir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 5%;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
        gap: 30px;
    }

    .menu {
        justify-content: center;
        ;
        gap: 10px;
    }

    .aba {
        font-size: 1.25rem;
    }

    .txtrodape {
        font-size: 1.0rem;
    }
}