@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #00222a;
    --cor-secundaria: #ff9100;
    --cor-terciaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

strong {
    color: #000000;
}

h1 {
    font-weight: bold;
}

.seletivo {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
    color: #00222a;
    text-align: center;
    padding: 8em 1em 1em 1em;

}

.cabecalho {
    padding: 2% 0% 0% 0%;
}

.menu {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.aba {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    color: #00222a;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.aba:hover {
    color: #00222a;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.3s;
}
.dir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 5%;
}
.txtrodape {
    font-size: 0.7rem;
}
.social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.rodape__img {
    width: 1em;
    height: 1em;
}


.seletivos {
    padding: 20px;
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}

.seletivo {
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.seletivo h3 {
    color: var(--cor-secundaria);
    font-size: 1.5em;
    font-weight: bold;
}

.seletivo p {
    margin: 5px 0;
}

@media (max-width: 1000px) {

    .cabecalho {
        padding: 10%;
        gap: 10px;
    }

    .menu {
        justify-content: center;
        ;
        gap: 10px;
    }

    .aba {
        font-size: 1.25rem;
        padding: 1%;
    }

    .seletivo {
        font-size: 1em;
        margin: 5px 0;
    }

    .seletivos {
        padding: 20px;
        background-color: var(--cor-terciaria);
        border-radius: 10px;
        margin: 20px;
        text-align: center;
        font-size: 1em;
    }

    .txtrodape {
        font-size: 0.5rem;
    }

    .rodape {
        font-size: 1.25rem;
    }
    

}