@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #00222a;
    --cor-secundaria: #ff9100;
    --cor-terciaria: #ffffff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

strong {
    color: #000000;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.titulo02 {
    color: blue;
    padding: 10px;
}


.titulo01 {
    font-size: 1.5em;
    font-family: "Krona One", sans-serif;
}

.Paragrafo {
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: justify;
    padding: 0 1em 1em 1em;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
    color: #00222a;
    text-align: center;
    padding: 8em 1em 1em 1em;

}

.cabecalho {
    padding: 2% 0% 0% 0%;
}

.menu {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.aba {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    color: #00222a;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.aba:hover {
    color: #00222a;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.3s;
}


.cabecalho__ligantes {
   justify-content: center;
   align-items: center;
   
}

.menu__ligantes {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.aba__ligantes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #00222a;
}

.aba__ligantes:hover {
    color: #00222a;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.3s;
}

.ligantes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8%;
    gap: 80px;
}

.ligantess {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8%;
    gap: 80px;
    margin: 0em 0em 6em 0em;

}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em 5em 1em 5em ;
    background-color: #ffffff;
    border-radius: 50px;
    
}

.caixa__tutores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 2em 3em 2em ;
    background-color: #ffffff;
    border-radius: 50px;
}

.liga {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: transparent;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    margin: 0em -2em 0em -2em;
    padding: 1em;
}

.fotoligantes {
    width: 50%;
    scale: 0.8;
    background: transparent;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
}

.fotoligantess {
    width: 50%;
    border-radius: 50px;

}

.dir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    font-size: 3em;
}

.mural {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 15px;
    max-width: 80%;
    /* Largura máxima do mural */
}

.imagem-container {
    position: relative;
    /* Necessário para posicionar a descrição */
    overflow: hidden;
    /* Oculta qualquer conteúdo que ultrapasse a imagem */
}

.mural img {
    width: 100%;
    /* A imagem ocupa 100% da largura da célula */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}


.descricao {
    display: none;
    /* Oculta a descrição por padrão */
    position: absolute;
    /* Posiciona a descrição em relação ao container */
    bottom: 12px;
    /* Fica na parte inferior da imagem */
    left: 0;
    /* Alinha à esquerda */
    right: 0;
    /* Alinha à direita */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo escuro com transparência */
    color: #fff;
    /* Texto branco */
    padding: 1px;
    /* Espaçamento interno */
    border-radius: 10px;
    /* Bordas arredondadas na parte inferior */
    text-align: center;
    /* Centraliza o texto */
    font-size: 1.5rem;
}

.imagem-container:hover .descricao {
    display: block;

    width: 100%;
    /* A imagem ocupa 100% da largura da célula */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    transition: transform 0.3s;
    /* Transição suave para o efeito de hover */

    /* Exibe a descrição ao passar o mouse sobre a imagem */
}

.txtrodape {
    font-size: 0.7rem;
}

.social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.rodape__img {
    width: 1em;
    height: 1em;
}


.tutores__titulo {
    padding: 0em 0 0em 0;
    font-size: 4em;
}

.coluna {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: auto;
}

.tutores__img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    background: transparent;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.459);

}

.tutores__nome {
    font-size: 1.875rem;
    font-family: "Krona One", sans-serif;
    padding: 2em 0 0 0;
}

.tutores__descricao {
    font-size: 1em;
    text-align: justify;
    padding: 2em;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.tutores__descricao {
    height: 30em;

}





@media (max-width: 1000px) {

    .caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1em 1em 1em 1em;
        background-color: #ffffff;
        border-radius: 50px;
    }

    .txtrodape {
        font-size: 0.5rem;
    }

    .rodape {
        font-size: 1.25rem;
    }


    .tutores__titulo {
        font-size: 2em;
    }

    .tutores__img {
        width: 70%;
    }


    .tutores__nome {
        font-size: 1.8em;
    }

    .dir {
        font-size: 2.5em;
    }

    .ligantes {
        flex-direction: column;
        padding: 5% 5% 2% 5%;
    }

    .ligantess {
        flex-direction: column-reverse;
        padding: 5% 5% 2% 5%;
    }

    .fotoligantes {
        width: 100%;
    }

    .fotoligantess {
        width: 100%;
    }

    .muraldosligantes {
        font-size: 3em;
        padding: 2em 0 0;
    }

    .dir {
        font-size: 2.5em;
        margin-top: -1.8em;
    }

    .cabecalho {
        padding: 10%;
        gap: 10px;
    }

    .menu {
        justify-content: center;
        ;
        gap: 10px;
    }

    .aba {
        font-size: 1.25rem;
        padding: 1%;
    }

    
    .cabecalho__ligantes {
        margin-bottom: 50px;
        gap: 10px;
    }

    .menu__ligantes {
        justify-content: center;
        margin: 0;
        gap: 10px;
    }

    .aba__ligantes {
        font-size: 0.6rem;

       padding: 5px 10px 5px 10px;
    }

    .aba__ligantes:hover {
        color: aliceblue;
        border-radius: 5px;
        background-color: #00222a;
        transition: 0.3s;
    }


    .liga {
        width: auto;
        flex-direction: column;
    }

    .tutores__descricao {
        font-size: 1em;
    }

    .tutores__nome {
        font-size: 1.3em;
    }

    .dir {
        font-size: 2em;
    }

    .ligantes {
        flex-direction: column;
        padding: 5% 5% 2% 5%;
    }

    .ligantess {
        flex-direction: column-reverse;
        padding: 5% 5% 2% 5%;
    }

    .fotoligantes {
        width: 100%;
    }

    .fotoligantess {
        width: 100%;
    }

    .muraldosligantes {
        font-size: 3em;
        padding: 2em 0 0;
    }

    .dir {
        font-size: 2.5em;
        padding-top: 2em;
    }

    .cabecalho {
        padding: 10%;
        gap: 10px;
    }

    .menu {
        justify-content: center;
        ;
        gap: 10px;
    }

    .aba {
        font-size: 1.25rem;
        padding: 1%;
    }

    .liga {
        width: auto;
        flex-direction: column;
    }


    .mural {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 15px;
        max-width: 800px;
        /* Largura máxima do mural */
        margin: 0 auto;
        /* Centraliza o mural */
    }

    .descricao {
        font-size: 1rem;
    }

    .Paragrafo {
        text-align: justify;
    }

    .imagem-container {
        position: relative;
        /* Necessário para posicionar a descrição */
        overflow: visible;
        /* Oculta qualquer conteúdo que ultrapasse a imagem */
    }

    .tutores__descricao {
        font-size: 1em;
        height: 60em;

    }

    .Paragrafo {
        font-size: 1rem;
    }

    .card {
        background: transparent;
        box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.459);
        border-radius: 10px;
        margin: 0em -1% 0em -1%;
        padding: 1em;
    }

}