@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #00222a;
    --cor-secundaria: #ff9100;
    --cor-terciaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

strong {
    color: #000000;
}

h1 {
    font-weight: bold;
}

.titulo02 {
    color: blue;
    padding: 10px;
}

.logo {
    width: 50%;
    border-radius: 50px;
}

.Pai {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
    gap: 80px;
}

.filho01 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo01 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
}

.Paragrafo {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: justify;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
    color: #00222a;
    text-align: center;
    padding: 8em 1em 1em 1em;
}

.cabecalho {
    padding: 2% 0% 0% 0%;
}

.menu {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.aba {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    color: #00222a;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.aba:hover {
    color: #00222a;
    border-radius: 5px;
    background-color: aliceblue;
    transition: 0.3s;
}

.dir {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 5%;
}

.carrossel__titulo {
    color: rgb(0, 0, 0);
    background-color: var(--cor-secundaria);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    padding: 0.5em 0 0.5em 0;
    border-radius: 8px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrossel {
    padding: 0 0 1em 0;
}

.container__carrossel {
    display: flex;
    flex-direction: column;
    padding: 0 0 1em 0;
    font-weight: bold;
}

.mae {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 1em 1em 1em;
}

.txtrodape {
    font-size: 0.7rem;
}

.social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.rodape__img {
    width: 1em;
    height: 1em;
}

.caixa {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em 1.8em;
    padding: 1em;
}

@media (max-width:1000px) {

    .Pai {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .Paragrafo {
        text-align: justify;
    }

    .swiper-container {
        display: flex;
        width: 100%;
    }

    .filho01 {
        width: auto;
    }

    .carrossel__titulo {
        font-size: 25px;
        padding: 0.5em 0 0.5em 0;
    }

    .swiper-slide {
        width: 100%;
    }


    .logo {
        width: 100%;
    }

    .cabecalho {
        padding: 10%;
        gap: 10px;
    }

    .menu {
        justify-content: center;
        gap: 10px;
    }

    .aba {
        font-size: 1.25rem;
        padding: 1%;
    }

    .caixa {
        background: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 0.3em 0.5em;
        margin: 0;
    }

    .txtrodape {
        font-size: 0.5rem;
    }

    .rodape {
        font-size: 1.25rem;
    }

}